DB_HOST=localhost
DB_USER=enigmacamp
DB_PASSWORD=Enigmap@ssw02d
DB_NAME=db_toktok_dev
DB_PORT=5432
SSL_MODE=disable
TIME_ZONE=Asia/Jakarta
ENV=DEV
API_URL=localhost:8080
APP_NAME=TOKTOK
SECRET_KEY=STR@N63RTH1N65
TOKEN_DURATION=10
REDIS_ADDRESS=localhost:6379
FILEPATH=/home/dell/Pictures/toktok
FILEPATH_FEED=/home/dell/Pictures/toktok/feed